# =============================================#
#                 MODEL SETTINGS               #
# =============================================#
LLM_MODEL=llama3.1
# EMBEDDING_MODEL_NAME=bge-m3 #nomic-embed-text
# EMBEDDING_MODEL_TYPE=ollama
EMBEDDING_MODEL_NAME=sentence-transformers
EMBEDDING_MODEL_TYPE=huggingface
# ----
# EMBEDDING_MODEL_NAME=vietnamese_bi_encoder
# EMBEDDING_MODEL_TYPE=huggingface


# =============================================#
#              OLLAMA SETTINGS                 #
# =============================================#
# Ollama base URL
OLLAMA_BASE_URL=http://localhost:11434

# Path settings
DATA_DIRECTORY=./data
PERSIST_DIRECTORY=./chroma_db

# =============================================#
#             HUGGINGFACE SETTINGS             #
# =============================================#
# Get from: https://huggingface.co/settings/tokens
HF_TOKEN=
MODEL_CACHE_DIR=./model_cache