.chat-row {
    display: flex;
    margin: 5px;
    width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.chat-bubble {
    font-family: "Source Sans Pro", sans-serif, "Segoe UI", "Roboto", sans-serif;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin: 0px 7px;
    max-width: 70%;
}

.ai-bubble {
    background: rgb(240, 242, 246);
    border-radius: 10px;
}

.human-bubble {
    background: linear-gradient(135deg, rgb(0, 178, 255) 0%, rgb(0, 106, 255) 100%); 
    color: white;
    border-radius: 20px;
}

.chat-icon {
    border-radius: 5px;
}

.stApp {
    background-image: url("https://cdn.xanhsm.com/2025/02/f7d493de-ban-do-du-lich-ha-giang-12.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.stApp::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.5);
    z-index: 0;
}

.block-container {
    position: relative;
    z-index: 1;
}
